.admin{
  height:100%
}
.admin .admin-content{
  width: 100%;
  height:88%;
  background-color:#F0F2F5;
}
/*.admin .admin-content::after{
  content: '';
  display: block;
  clear: both;
}*/
.admin .admin-right{
  background-color: white;
  width: 82%;
  height: 500px;
}